n8n-workflows/content-calendar-engine.json
{
  "name": "Content Calendar Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "d1d1d1d1-1111-1111-1111-111111111111",
      "name": "Daily 9AM CET",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.notion.com/v1/databases/YOUR_CONTENT_CALENDAR_DB_ID/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer YOUR_NOTION_API_KEY"
            },
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"and\": [\n      {\n        \"property\": \"Publish Date\",\n        \"date\": {\n          \"equals\": \"{{ $now.format('yyyy-MM-dd') }}\"\n        }\n      },\n      {\n        \"property\": \"Status\",\n        \"select\": {\n          \"equals\": \"Ready to Publish\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "d2d2d2d2-2222-2222-2222-222222222222",
      "name": "Query Notion Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json.results || [];\n\nif (results.length === 0) {\n  return [{ json: { noContent: true, message: 'No content scheduled for today.' } }];\n}\n\nreturn results.map(page => {\n  const props = page.properties;\n  return {\n    json: {\n      noContent: false,\n      pageId: page.id,\n      title: props.Title?.title?.[0]?.plain_text || 'Untitled',\n      platform: props.Platform?.multi_select?.map(s => s.name).join(', ') || '',\n      caption: props.Caption?.rich_text?.[0]?.plain_text || '',\n      hashtags: props.Hashtags?.rich_text?.[0]?.plain_text || '',\n      contentBrief: props['Content Brief']?.rich_text?.[0]?.plain_text || '',\n      voiceScript: props['Voice AI Script']?.rich_text?.[0]?.plain_text || '',\n      format: props.Format?.select?.name || '',\n      pillar: props['Content Pillar']?.select?.name || ''\n    }\n  };\n});"
      },
      "id": "d3d3d3d3-3333-3333-3333-333333333333",
      "name": "Parse Content Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.noContent }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4d4d4d4-4444-4444-4444-444444444444",
      "name": "Has Content Today?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 340]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "=YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 1024,\n  \"system\": \"You are a social media copywriter for The Green Standard, a premium accessible golf brand. Write in lowercase, calm, minimal style. Output the final polished caption only.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Platform: {{ $json.platform }}\\nContent pillar: {{ $json.pillar }}\\nBrief: {{ $json.contentBrief }}\\nDraft caption: {{ $json.caption }}\\nHashtags: {{ $json.hashtags }}\\n\\nPolish this caption for publishing.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d5d5d5d5-5555-5555-5555-555555555555",
      "name": "Polish Caption with AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 240]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json;\nconst originalData = $('Has Content Today?').first().json;\nconst polishedCaption = aiResponse.content?.[0]?.text || originalData.caption;\n\nreturn [{\n  json: {\n    ...originalData,\n    polishedCaption: polishedCaption\n  }\n}];"
      },
      "id": "d6d6d6d6-6666-6666-6666-666666666666",
      "name": "Merge Polished Caption",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1360, 240]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=CONTENT READY FOR TODAY\n\nTitle: {{ $json.title }}\nPlatform: {{ $json.platform }}\nPillar: {{ $json.pillar }}\nFormat: {{ $json.format }}\n\nCAPTION:\n{{ $json.polishedCaption }}\n\nHASHTAGS:\n{{ $json.hashtags }}\n\nReply APPROVE to publish.",
        "additionalFields": {}
      },
      "id": "d7d7d7d7-7777-7777-7777-777777777777",
      "name": "Send for Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1580, 240]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "No content scheduled for today. Calendar is clear.",
        "additionalFields": {}
      },
      "id": "d8d8d8d8-8888-8888-8888-888888888888",
      "name": "No Content Today",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1140, 480]
    }
  ],
  "connections": {
    "Daily 9AM CET": {
      "main": [[{"node": "Query Notion Calendar", "type": "main", "index": 0}]]
    },
    "Query Notion Calendar": {
      "main": [[{"node": "Parse Content Items", "type": "main", "index": 0}]]
    },
    "Parse Content Items": {
      "main": [[{"node": "Has Content Today?", "type": "main", "index": 0}]]
    },
    "Has Content Today?": {
      "main": [
        [{"node": "Polish Caption with AI", "type": "main", "index": 0}],
        [{"node": "No Content Today", "type": "main", "index": 0}]
      ]
    },
    "Polish Caption with AI": {
      "main": [[{"node": "Merge Polished Caption", "type": "main", "index": 0}]]
    },
    "Merge Polished Caption": {
      "main": [[{"node": "Send for Review", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "versionId": ""
}
