n8n-workflows/weekly-analytics-digest.json
{
  "name": "Weekly Analytics Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "f1f1f1f1-1111-1111-1111-111111111111",
      "name": "Every Monday 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 340]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://YOUR_SHOPIFY_STORE.myshopify.com/admin/api/2024-01/orders.json?created_at_min={{ $now.minus({days: 7}).toISO() }}&status=any",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Shopify-Access-Token",
              "value": "YOUR_SHOPIFY_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "id": "f2f2f2f2-2222-2222-2222-222222222222",
      "name": "Fetch Shopify Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "jsCode": "// Compile weekly digest from Shopify data (Shopify Payments = all revenue in one place)\nconst shopifyData = $input.first().json;\n\n// Parse Shopify orders\nconst orders = shopifyData.orders || [];\nconst totalOrders = orders.length;\nconst totalRevenue = orders.reduce((sum, order) => sum + parseFloat(order.total_price || 0), 0);\nconst avgOrderValue = totalOrders > 0 ? (totalRevenue / totalOrders).toFixed(2) : '0.00';\n\n// Count fulfilled vs unfulfilled\nconst fulfilled = orders.filter(o => o.fulfillment_status === 'fulfilled').length;\nconst unfulfilled = totalOrders - fulfilled;\n\n// Count top products\nconst productCounts = {};\norders.forEach(order => {\n  (order.line_items || []).forEach(item => {\n    productCounts[item.title] = (productCounts[item.title] || 0) + item.quantity;\n  });\n});\nconst topProducts = Object.entries(productCounts)\n  .sort((a, b) => b[1] - a[1])\n  .slice(0, 5)\n  .map(([name, qty]) => name + ' (' + qty + ' sold)')\n  .join('\\n  ');\n\n// Payment breakdown\nconst paymentMethods = {};\norders.forEach(order => {\n  (order.payment_gateway_names || []).forEach(gw => {\n    paymentMethods[gw] = (paymentMethods[gw] || 0) + 1;\n  });\n});\nconst paymentBreakdown = Object.entries(paymentMethods)\n  .map(([method, count]) => method + ': ' + count + ' orders')\n  .join('\\n  ');\n\nconst digest = `WEEKLY DIGEST — THE GREEN STANDARD\\n` +\n  `Week ending {{ $now.format('dd MMM yyyy') }}\\n\\n` +\n  `ORDERS: ${totalOrders} (${fulfilled} fulfilled, ${unfulfilled} pending)\\n` +\n  `REVENUE: EUR ${totalRevenue.toFixed(2)}\\n` +\n  `AVG ORDER VALUE: EUR ${avgOrderValue}\\n\\n` +\n  `TOP PRODUCTS:\\n  ${topProducts || 'No sales this week'}\\n\\n` +\n  `PAYMENT METHODS:\\n  ${paymentBreakdown || 'N/A'}\\n\\n` +\n  `---\\n` +\n  `Check Shopify admin and Klaviyo for detailed analytics.`;\n\nreturn [{ json: { digest, totalOrders, totalRevenue, avgOrderValue } }];"
      },
      "id": "f4f4f4f4-4444-4444-4444-444444444444",
      "name": "Compile Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 340]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.digest }}",
        "additionalFields": {}
      },
      "id": "f5f5f5f5-5555-5555-5555-555555555555",
      "name": "Send Digest to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [920, 340]
    }
  ],
  "connections": {
    "Every Monday 8AM": {
      "main": [[{"node": "Fetch Shopify Orders", "type": "main", "index": 0}]]
    },
    "Fetch Shopify Orders": {
      "main": [[{"node": "Compile Digest", "type": "main", "index": 0}]]
    },
    "Compile Digest": {
      "main": [[{"node": "Send Digest to Telegram", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "versionId": ""
}